﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>

<p>
    Controlador : @Model.ControllerName
</p>
<p>
    Action : @Model.ActionName
</p>
<p>
    Mensaje: @Model.Exception.Message
</p>
<p>
    
    Seguimiento : @Model.Exception.StackTrace
</p>