﻿@{
    ViewBag.Title = "About Us";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

<h2>About</h2>
<p>
    La hora actual es: @DateTime.Now
</p>

@{
    var name = "Pepito";
    var nameMessage = "Hola, mi nombre es " + name + " :D "; 
}
<p> @nameMessage </p>

@{
    @:El día de hoy es: @DateTime.Now.DayOfWeek . Es un <b>gran</b>  día.
}

@if(IsPost)
{
    <p>Hola, hoy es @DateTime.Now y esta página viene de un postback </p>
}
else
{
    <p>Hola, hoy es @DateTime.Now</p>
}

<p>Linea Simple IF</p>
@{ var result = "hola"; }
@if(result != "")
{
    <p>Resultado : @result</p>
}
<p>Blaque html que quieran</p>
@{
    var showToday = false;
    
    if(showToday)
    {
        @DateTime.Today;
    }
    else
    {
        <p> Disculpe! </p>
    }
}

  @*
        Este es un comentario en Razor.
  *@
  
  @{
      //Este tambien es un comentario.
      /*
       Este
       es un comentario
       de linea multiple en c#
       */
  }
     
<div id="targetLink"></div>
<div id="cargando" style="display: none"> ...Procesando solicitud!  </div>

@Ajax.ActionLink("Actualizar hora","ActualizarHora","Home",new AjaxOptions
                                                               {
                                                                    HttpMethod = "GET",
                                                                    UpdateTargetId = "targetLink",
                                                                    LoadingElementId = "cargando",
                                                                    LoadingElementDuration = 3000
                                                               })
