﻿@{
    ViewBag.Title = "Listado con jQGrid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/jquery.jqGrid.src.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/grid.locale-es.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
<table id="tabla">
</table>
<div id="barra">
</div>
<script type="text/javascript">
    jQuery("#tabla").jqGrid({
        url: '@Url.Action("Listar")',
        datatype: 'json',
        mtype: 'post',
        autowidth: true,
        colNames: ['ID', 'Nombre', 'Direccion','Distrito', 'Telefono'],
        colModel: [
            { name: 'IdLocal', index: 'IdLocal', width: 60, hidden: true, editable: true, align: 'center', searchoptions: { sopt: ['eq']} }
            , { name: 'Nombre', index: 'Nombre', width: 150, editable: true,  editoptions: { size: 30, maxlength: 200 }, editrules: { required: true }, formoptions: { elmprefix: '(*)' }, searchoptions: { sopt: ['bw', 'bn']} }
            , { name: 'Direccion', index: 'Direccion', width: 100, editable: true, editoptions: { size: 30, maxlength: 200 }, editrules: { required: true }, formoptions: { elmprefix: '(*)' }, searchoptions: { sopt: ['bw', 'bn']} }
            , { name: 'Distrito', index: 'Distrito', width: 100, editable: true, editoptions: { size: 30, maxlength: 200 }, editrules: { required: true }, formoptions: { elmprefix: '(*)' }, searchoptions: { sopt: ['bw', 'bn']} }
          
            , { name: 'Telefono', index: 'Telefono', width: 70, editable: true, editoptions: { size: 20, maxlength: 11 }, searchoptions: { sopt: ['bw', 'bn']} }
              ],
        rowNum: 20,
        rowList: [20, 50, 100, 150, 200],
        pager: '#barra',
        sortname: 'IdLocal',
        viewrecords: true,
        sortorder: 'desc',
        width: '100%',
        height: '300',
        caption: 'Listado de Locales'
    });
    jQuery("#tabla").jqGrid(
        'navGrid',
        '#barra',
        { edit: true, add: true, del: true, search: true, refresh: true },
        { url: '@Url.Action("EditJqGrid")', afterSubmit: function (response, postdata) { return getResponseData(response); } },
        { url: '@Url.Action("CreateJqGrid")', afterSubmit: function (response, postdata) { return getResponseData(response); } },
        { url: '@Url.Action("DeleteJqGrid")', afterSubmit: function (response, postdata) { return getResponseData(response); } },
        { multipleSearch: false });

    function getResponseData(resp) {
        var json = resp.responseText;
        var result = eval('(' + json + ')');
        return [result.Success, result.Message, null];
    }
</script>

