﻿@{
    ViewBag.Title = "GraficoJs";
}

<script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/modules/exporting.js")" type="text/javascript"></script>


<h2>Grafico  usando Highcharts JS</h2>

<div id="container" style="width: 100%"></div>
<script type="text/javascript">
    var chart;
    $(document).ready(function () {

        var options = {
            chart: {
                renderTo: 'container',
                margin: [50, 200, 60, 170]
            },
            title: {
                text: 'Ventas diarias'
            },
            plotArea: {
                shadow: null,
                borderWidth: null,
                backgroundColor: null
            },
            tooltip: {
                formatter: function() {
                    return '<b>' + this.point.name + '</b>: ' + this.y + ' soles';
                }
            },
            plotOptions: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    formatter: function() {
                        if (this.y > 5) return this.point.name;
                    },
                    color: 'white',
                    style: {
                        font: '13px Trebuchet MS'
                    }
                }
            },
            legend: {
                layout: 'vertical',
                style: {
                    left: 'auto',
                    bottom: 'auto',
                    right: 'auto',
                    top: 'auto'
                }
            },
            series: []
        };
        
        //llamada JSON
        $.getJSON("ObtenerPorcentajeVentas", null, function(items) {
            var series = {
                type: 'pie',
                name: 'Ventas diarias',
                data: []
            };
            $.each(items, function(itemNo, item) {
                series.data.push({
                    name: item.Fecha,
                    y: parseFloat(item.Valor)
                });
            });
            options.series.push(series);
            
            //Crear el grafico
            chart = new Highcharts.Chart(options);
            chart.render();

        });
    });

</script>
