﻿@model SistemaRestaurante.BusinessEntity.Categoria
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    @using (Html.BeginForm(ViewData["Accion"].ToString(), "CategoriaJq", FormMethod.Post, new { id = "frmModel" }))
    {       
        <div id="divMensajeResultado" class="estilo mensaje" style="display: none;">
            <div>
                <strong>Mensaje</strong> : <span id="spanMensajeResultado"></span>
            </div>
        </div>
        <fieldset class="fieldset-with-legend border-round">
            <legend class="border-shadow">Información de la Categoría : </legend>
            <table border="0" cellpadding="0" cellspacing="0" class="tablelayout">
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Nombre)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </td>
                </tr>
                <tr>
                    <td class="right">
                        @Html.LabelFor(model => model.Imagen)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Imagen)
                        @Html.ValidationMessageFor(model => model.Imagen)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.IdCategoria)
                    </td>
                    <td colspan="3">
                        <br />
                        <input type="submit" value="Guardar" id="btnRegistrar" />
                        <input type="button" value="Regresar" id="btnCancel" />
                    </td>
                </tr>
            </table>
        </fieldset>
    }

<script type="text/javascript">

    $(document).ready(function () {

        $('#btnRegistrar').bind("click", function (e) {

            if ($("#frmModel").validate().form()) {

                $.post($("#frmModel").attr("action"), $("#frmModel").serialize(), function (response) {

                    if (response.Success) {
                        alert(response.Message);
                        SR.Regresar('tabla', 'listado', 'informacion');
                        $("#divMensajeResultado").hide();
                    } else {
                        $("#spanMensajeResultado").html(response.Message);
                        $("#divMensajeResultado").show();
                    }
                    
                });
            }
            e.preventDefault();
        });


        $('#btnCancel').bind("click", function (e) {

            SR.Regresar('tabla', 'listado', 'informacion');
            e.preventDefault();
        });
    });


    

</script>
