﻿@model IEnumerable<SistemaRestaurante.BusinessEntity.Producto>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            IdProducto
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Ruta Imagen
        </th>
        <th>
            Imagen
        </th>
        <th>
            Categoria
        </th>
        <th>
            Precio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdProducto)
        </td>
        <td>
            @Formato.ResaltarNombre(item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Imagen)
        </td>
        <td>
            <img src="@item.Imagen" style="width: 50px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreCategoria)
        </td>
        <td>
            @Formato.MostrarPrecio(item.Precio)
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { idProducto=item.IdProducto}) |
            @Html.ActionLink("Details", "Details", new { idProducto=item.IdProducto}) |
            @Html.ActionLink("Delete", "Delete", new { idProducto = item.IdProducto })
        </td>
    </tr>
}

</table>
